<div id="anadir">
    <form (ngSubmit)="anadirUsuario(Nombre,Email,Contrasena)" [formGroup]="formGroup1" autocomplete="off">
    <div id="formulario">
        <div class="div">
            <label for="Nombre" class="label">Nombre</label>
            <input type="text" class="input" #Nombre  formControlName="Nombre" id="Nombre"><br>
            <label *ngIf=" formGroup1.get('Nombre').hasError('required')" [ngClass] = "'error'">Nombre obligatorio. </label>
        </div>

        <div class="div">
            <label for="Email" class="label">Email</label>
            <input type="text" class="input" #Email  formControlName="Email" id="Email"><br>
            <label *ngIf=" formGroup1.get('Email').hasError('required')" [ngClass] = "'error'">Email obligatorio. </label>
        </div>
    
        <div class="div">
            <label for="Contrasena" class="label">Contraseña</label>
            <input type="password" class="input" #Contrasena formControlName="Contrasena" id="Contrasena"><br>
            <label *ngIf=" formGroup1.get('Contrasena').hasError('required')" [ngClass] = "'error'">Contraseña obligatorio. </label>
        </div>
        <div id="botones">
            <input type="submit" class="button" value="Registrarse" [disabled]="formGroup1.invalid">
            <input class="button" (click)="login()" value="Login">
        </div>
    </div>
    </form>
</div>